<div class="wrapper">
  <!-- Navbar -->
  <nav class="teal">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo"><i class="material-icons">apps</i>{{ title }}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/posts"><i class="material-icons left">library_books</i>Posts</a></li>
        <li routerLinkActive="active"><a routerLink="/add-post"><i class="material-icons left">library_add</i>Add new</a></li>
        <li routerLinkActive="active"><a routerLink="/completed"><i class="material-icons left">event_available</i>Completed posts</a></li>
      </ul>
    </div>
  </nav>
  
  <!-- Content -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  
  <!-- Footer -->
  <footer class="page-footer teal footer">      
    <div class="footer-copyright">
      <div class="container">
      © 2018 Zdendyak
      <a class="grey-text text-lighten-4 right" href="https://github.com/zdendyak">GitHub</a>
      </div>
    </div>
  </footer>
</div>

